body,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif;
}

.w3-bar, h1, h2, #navmenu {
    font-family: "Raleway", sans-serif;
}

h1 {
    font-weight: 700;
}

h2 {
    color: #164DB6;
}

a {
    text-decoration: none;
}

p {
    color: #222B2F;
    font-size: 20px;
    line-height: 37px;
}

hr {
    border: 1px solid #C9C4C4;
    margin: 10px 0px 25px;
}

.w3-top {
    z-index: 2;
}

.w3-bar {
    color: white;
    font-weight: 600;
}

.w3-jumbo {
    font-size: 80px !important;
}

.w3-content {
    max-width: 1500px;
    position: relative;
    z-index: 1;
}

.no-margin {
    margin: 0;
}

.auto-margin {
    margin-left: auto;
    margin-right: auto;
}

#logo {
    float: left;
    height: 135px;
    max-width: 100%;
}

.curved {
    position: relative;
}

.main-donatepage, .main-signup-page{
  padding-top: 60px;
  background: linear-gradient(90deg, rgba(19,54,74,1) 0%, 
    rgba(28,78,105,1) 54%, rgba(25,59,84,1) 100%);
  color: white;
}

.main-donatepage input, .main-signup-page input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 15px;
    display: block;
    border: transparent;
    border-radius: 4px;
    box-sizing: border-box;
}

.main-donatepage .form-inline, .main-signup-page .form-signup{
    width: 50%;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 75px;
}

#join-now:hover {
    cursor: pointer;
}

.main-donatepage input[type=submit], .main-signup-page input[type=submit]{
    background-color: #1966F9;
    color:white;
}

input[type=reset]{
    background-color: rgb(212, 12, 12); /*what color do you guys think this should be*/
    color:white;
}

.main-donatepage h1, .main-donatepage h6, .main-signup-page h1, .main-signup-page h6 {
    text-align: center;
}

.figma {
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: Arial, sans-serif;
}

.main-signup-page .form-signup img{
  height: 100%;
  width:100%;
  padding-bottom: 10px;
}


/* CSS for new index.html page */

#header {
    position: relative;
    padding-top: 15px;
    margin-left: 1%;
    margin-right: 1%;
    z-index: 2;
}

/* index.html page has a different height */

.hero-full, .hero-75 {
    position: relative;
    background: no-repeat center;
    background-size: cover;
}

.hero-full {
    min-height: 100vh;
    width: 100vw;
}

.hero-full::before {
    min-height: 100%;
    width: 100vw;
}

.hero-75 {
    min-height: 75vh;
    width: 100vw;
}

.hero-75::before {
    min-height: 100%;
    width: 100vw;
}

.hero-75::before, .hero-full::before, .forests-matter-container::before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#hero-index {
    background-image: url("images/youth.jpg");
}

/* Since the hero-index doesn't need an overlay */
#hero-index::before {
    background-color: transparent;
}

#hero-involved {
    background-image: url("images/legacy-7.jpg");
}

#hero-about {
    background-image: url("images/legacy-6.jpg");
}

#hero-donate {
    background-image: url("images/helping.jpg");
}

#hero-advocacy {
    background-image: url("images/deforestation-2.jpg");
}

#hero-signup{
    background-image: url("images/legacy-10.jpg");
}

.transparent {
    background-color: transparent;
}

.navbar {
    /* note to fix the padding and stuff for the navbar elements */
    width: 100%;
}

.navbar-item {
    padding: 8px 16px;
    width: auto;
    display: inline-block;
    border: none;
    outline: 0;
}

.navbar-btn:hover {
    text-shadow: 2px 2.5px 5px rgba(211, 209, 209, 0.3);
}


/* note to self: if we still have time, apply these classes to other classes to reduce css repetition */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.hero-text {
    position: relative;
    max-width: 1350px;
    margin-right: auto;
    margin-left: auto;
    padding: 0.01rem 1rem;
}

.hero-h1 {
    font-size: 106px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

#hero-h1-index {
    letter-spacing: clamp(0px, 1vw, 9px);
    font-size: clamp(3rem, 6.8vw, 6.5rem);
}

#join-btn {
    padding: 0 40px;
    line-height: 50px;
    font-size: 25px;
    margin: 20px;
    border: 3px solid white;
    transition: 0.2s linear;
}

#join-btn:hover, #join-btn:active {
    background-color: #fff;
    color: #164DB6;
}

#home-content, #advocacy-content, #what-do {
    background: linear-gradient(90deg, rgba(19,54,74,1) 0%, 
    rgba(28,78,105,1) 54%, rgba(25,59,84,1) 100%);
}

.text-white {
    color: white;
}

.bg-white {
    background-color: white;
}

.container-shadow {
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
}

.container-overlap {
    width: 100%;
}

.img-shadow {
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

.img-overlap {
    position: relative;
    width: 100%;
    object-fit: cover;
}

.img-overlap-left {
    margin-left: 50px;
}

.img-overlap-right {
    margin-left: -50px;
}

.container-padding {
    padding: 20px 35px 40px;
}

.responsive-h2 {
    font-size: clamp(2.5rem, 5.5vw, 3.3rem);
    font-weight: 600;
    line-height: 59px;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

#about-left {
    flex: 2.8;
}

/* note to self: if there's still time, make a class for this? */
#about-left p {
    white-space: normal;
    width: 90%;
}

.card-btn {
    color: #164DB6;
    border: 1px solid #164DB6;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    transition: 0.2s linear;
    padding: 10px 20px;
}

.card-btn:hover, .card-btn:active {
    background-color: #164DB6;
    color: white;
}

.card-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 2px 2px 4px #00000061;
    opacity: 0;
    transition: 0.2s linear;
}

.card-btn:hover::after, .card-btn:active::after {
    opacity: 1;
}

#about-right {
    flex: 2.5;
    height: auto;
}

#row-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#row-2 img {
    width: 100%;
    height: 35vh;
    object-fit: cover;
}

#row-2 > div {
    display: inline-block;
    width: 45%;
}

#scholar-right, #tree-left {
    flex: 1.15;
}

#scholar-right .w3-row {
    margin-bottom: 10px;
}

#scholar-left, #tree-right {
    flex: 0.85;
}

.donate-img {
    height: 750px;
    object-fit: cover;
}

.interval-hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.active {
    color: #164DB6;
    border-color: #164db6;
}

.active:hover {
    cursor: pointer;
    transform: scale(1.01, 1.01);
}

.active hr {
    border: 1px solid #164DB6;
}

.inactive {
    color: #999;
    border-color: #999;
    opacity: 0.5;
}

.active, .inactive {
    user-select: none;
}

.inactive:hover {
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.01, 1.01);
}

#donate-index .donate-padding {
    padding: 20px 7% 35px;
}

.width-90-center {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.donate-option {
    display: flex;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.donate-info {
    text-align: center;
    color: hsla(198, 16%, 16%, 70%);
    margin-top: 7px;
}

.donate-icon {
    height: 128px;
    width: 128px;
}

.denomination {
    font-family: "Lato", sans-serif;
    font-size: 50px;
    font-weight: 700;
}

.card-btn-donate {
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    background-color: #164db6;
    box-shadow: 2px 2px 4px #00000061;
    transition: 0.2s linear;
}

.card-btn-donate:hover {
    background-color: #2a5fc6;
}

/* End of CSS for index-2.html page */

/* Start of CSS for revised donate.html page */
#donate-section {
    max-width: 1700px;
    padding: 1%;
    align-items: flex-start;
}

.donate-heading {
    flex: 0.9;
    text-align: center;
    padding: 1%;
}

.donate-heading-h1 {
    font-size: clamp(3rem, 3.8vw, 5.3rem);
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    margin: 0;
}

#donate-section .donate-padding {
    padding: 10px 1% 30px;
}

.donate-container {
    flex: 1;
    padding: 0 2%;
}

.donate-form {
    color: #544e4e;
    padding: 15px 2.5%;
}

.donate-form-input {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}

.donate-form-label {
    font-size: 18px;
    text-align: left !important;
}

.donate-flex-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.donate-input-name {
    width: 90%;
}

#l-name, label[for="l-name"] {
    width: 90%;
    margin-left: auto;
}

#email {
    width: 90%;
}

#payment, label[for="payment"] {
    width: 80%;
    margin-left: auto;
    background-color: white;
}

/* End of revised donate.html page CSS */ 

/* Additional classes for advocacy.html page */

.advocacy-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2.2%;
}

.section-heading-h1 {
    font-weight: 600;
    font-family: "Lato", sans-serif;
    font-size: clamp(3rem, 4.5vw, 5.3rem);
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    margin: 0;
}

.section-heading-h1 hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid white;
}

.deforestation-gallery {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vertical-line {
    display: block;
    height: 100%;
    border-left: 3px solid white;
    width: 1px;
    position: absolute;
    z-index: -1;
}

.gallery-container {
    width: 100%;
}

.gallery-img {
    flex: 1.7;
}

.gallery-location {
    flex: 1;
    font-size: 50px;
}

.forests-matter-container {
    background: url("images/deforestation-3.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    padding-top: 5%;
}

.forests-matter-container::before {
    height: 100%;
    width: 100%;
}

.matters-card {
    display: flex;
    min-height: 250px; /* Change this to something else later on */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.matters-card-img {
    flex: 1;
}

.matters-card-img img {
    height: 100%;
    width: 100%;
    max-height: 500px; /* edit this later on to whatever the right size should be */
    object-fit: cover;
    border-radius: 10px;
}

.advocacy-h2 {
    font-size: 50px;
    font-weight: 600;
    margin: 0;
    align-self: stretch;
}

.matters-card-info {
    color: #222B2F;
    flex: 1.7;
    padding: 5px 20px;
}

/* End of additional classes for advocacy.html page */

#grid-1 hr {
    margin: 0;
}

#grid-2 {
    background-color: #D1D6E9;
    padding: 150px 16px;
}

#grid-2 .w3-half:nth-child(1) {
    padding-right: 10px;
}

#grid-2 .w3-half:nth-child(2) {
    padding-right: 20px;
}

#grid-2 .w3-button:hover {
    background-color: transparent !important;
    color: white!important;
}

.gradient-overlay {
    position: relative;
}

.gradient-overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.img-panel {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 7px gray;
}

#grid-2 img {
    border-radius: 40px;
}

footer {
    background-color: #151F90;
    color: white;
    padding-top: 40px !important;
}

footer input {
    margin: 5px 0;
    border-radius: 4px;
    font-size: 14px;
}

footer .w3-row {
    margin-bottom: 10px;
}

#newsletter-submit {
    position: relative;
    width: 100%;
    font-weight: 500;
    color: white;
    border: 1px solid white;
    background-color: #151F90;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
}

#newsletter-submit:hover, #newsletter-submit:active {
    cursor: pointer;
    width: 100.7%;
    box-shadow: 1px 1px 3px gray;
    background-color: white;
    color: #151F90;
}

.footer-link:hover {
  text-decoration: underline;
}

.social-icons {
    display: grid;
    align-content: center;
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}

.wrapper {
    display: inline-flex;
    font-family: "Poppins", sans-serif;
    height: 100%;
    color: #151F90;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 30px;
  height: 30px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

.main-advocacy{
    text-align: center;
    padding-top: 180px;
    padding-bottom: 180px;
    color: white;
    overflow: hidden;
    background: rgb(182, 180, 180, 0.8);  /* fallback for old browsers */
    background: linear-gradient(rgba(182, 180, 180, 0.8), rgba(53, 83, 252, 0.8)), url("images/deforestation.jpg");  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgba(182, 180, 180, 0.8), rgba(53, 83, 252, 0.8)), url("images/deforestation.jpg"); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.why-area{
  padding-bottom: 90px;
}

#de-title{
  padding-top: 60px;
}

#deforest-title{
  color: #163DA6;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 25%);
  margin: 0 auto;
}

.aspect{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.aspect-row{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    display: flex; 
    justify-content: space-between;
    column-gap: 10px;
    padding-top: 30px;
}

.aspect-content{
  flex-basis: 100%;
}

.advocacy-part2 {
    padding: 0.8% 1% 1%;;
}


.advocacy-part2 .w3-content {
    padding: 0;
}

#banner-what-to{
    color:white;
    text-align: center;
}

/* This is to make the icons overlap with the previous section */
.facts-container {
    margin-top: -7.5%;
}

.fact {
    padding: 10px;
    margin-bottom: 3.5%;
}

.fact-icon-bg {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.fact-icon {
    height: 175px;
    width: 175px;
    filter: drop-shadow(2px 2px 4px #7386e670);
}

.fact-heading {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: 600;
    /* note to self: when there's time, make a class for this shadow named heading-shadow */
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

.fact-info {
    text-align: center;
}

.fact-info strong {
    color: #7aaeff;
}

.vid-text {
    padding: 1% 4% 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.vid-text p {
    margin-top: 0;
}

#vid-btn{
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-start;
}

.reference-list {
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
}

.apa-reference {
  padding-left: 10px;
  text-indent: -10px;
}

.apa-one-line {
    align-self: flex-start;
}

/* CSS for about.html page */
#about-content {
    background: linear-gradient(90deg, rgba(19,54,74,1) 0%, 
    rgba(28,78,105,1) 54%, rgba(25,59,84,1) 100%);
}

#about-content section {
    padding-top: 64px;
}

.core-content {
    display: flex;
}

.core-padding {
   padding: 3% 3% 2%;
}

.core-card {
    padding: 2%;
    /*min-height: 100%;*/
    min-height: 426px;
    margin-bottom: 3%;
    flex: 1;
}

.core-icon {
    height: 200px;
    width: 200px;
    filter: drop-shadow(7px 7px 1px #7386e670);
}

#beginning-left {
    flex: 1.2;
}

#beginning-right {
    flex: 1;
}

.beginning-content {
    width: 95%;
}

.what-we-do-info {
    flex: 1.3;
    padding: 15px 30px 20px;
}

.what-we-do-img {
    flex: 1;
    max-width: 100%;
    max-height: 100%;
}

.what-we-do-img img {
    height: 360px;
    width: 360px;
    object-fit: cover;
}

#what-we-do .w3-content > div:not(:first-child) {
    margin-bottom: 3em;
}

.hidden-text {
    visibility: hidden;
}

#team {
    padding: 3%;
}

.team-image {
    height: 325px;
    width: 325px;
    filter: drop-shadow(7px 6px 3px #21222470);
}

.team-name {
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

/*get inovlved page*/
.img-box{
  position: relative;
  object-fit: cover;
  overflow: hidden;
  background-color: black;
}

#legacy-img{
  height: 720px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  opacity: 0.45;
}


#legacy-h1 {
  text-align: center;
  padding-bottom: 25px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 0;
  color: white;
  padding-top: 64px;
}

#legacy-page{
  background: linear-gradient(90deg, rgba(19,54,74,1) 0%, 
  rgba(28,78,105,1) 54%, rgba(25,59,84,1) 100%);
  padding: 2%;
}

.ticket {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticket-box {
  background-color: white;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
}

.ticket-title {
  font-weight: 600;
  font-size: clamp(2.5rem, 5.5vw, 3.3rem);
  margin: 0 0 15px;
  color: #164DB6;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 25%);
}

.ticket-date, .ticket-location {
  font-weight: 300;
}

.ticket-date {
  line-height: 24px;
}

.ticket-location {
  opacity: 0.8;
  font-size: 20px;
  margin: 10px 0 15px;
}

.ticket-location i {
  padding: 5px;
}

.ticket-des {
  margin: 0 0 30px 0;
}

.ticket-image{
  height: 300px;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.text-container {
  text-align: center;
  padding: 20px 35px 40px;
}

.bottomleft {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0 1%;
    color: white;
}

.btn-4-container {
  text-align: center;
  width: 160px;
  height: 50px;
  transition: 0.3s;
  background-color:#163DA6;
  line-height: 1;
  padding: 15px 20px;
  margin: auto;
  border: 2.5px solid white;
}

.btn-4-container:hover {
    background-color: rgba(0, 0, 0, 0.6);
    border: 2.5px solid rgba(0, 0, 0, 0);
}

.btn-4 {
    font-size: 16.5px;
    text-decoration: none;
    color: white;
  }

#ticket1{
  background-image: url("images/legacy-1.jpeg");
}

#ticket2{
  background-image: url("images/legacy-4.jpg");
}

#ticket3{
  background-image: url("images/donate.jpg");
}

.grid-item2 h1{
  color: #163DA6;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 25%);
  text-align: center;
}

.grid-item2 {
  background-color: white;
  text-align: left;
  box-shadow: 0 1px 8px rgb(0 0 0 / 16%);
  border-radius: 4px;
  position: relative;
}

.grid-item2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container2{
  padding-top: 128px;
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 128px;
}

.grid-img2{
  object-fit: cover;
  width: 100%;
  position: relative;
}

.grid-link{
  display: block;
  margin: 0.25em;
  color: #333;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.grid-link:before{
  content: '';
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

#fb-link{
  text-align: center;
  color: white;
}

#actual-fblink{
  color: skyblue;
}

.timeline {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
}

.timeline::before {
    content:'';
    position: absolute;
    left: 49.55%;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 5px solid white;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.timeline-card{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.timeline-text{
  padding: 2px 16px;
  width : 30%;
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  margin: 0 0 15px;
  color: white;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 25%);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.timeline-img-box{
	width : 70%;
}

.timeline-img{
    height: 100%;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.651);
}

#timeline-img3{
  margin-bottom: -7.5%;
}

.timeline-icon{
    height: 150px;
    width: 150px;
}

/* ALL MEDIA QUERIES SHOULD BE AT BOTTOM OF FILE */
@media screen and (max-width: 1530px) and (min-width: 1139px) {
    .w3-content {
        padding: 0px 20px;
    }
}

@media screen and (max-width: 1139px) {
    .responsive-centered {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .responsive-width {
        width: 100%;
        /* add margin: 0; or margin left and right 0 */
    }

    .flex-center {
        flex-direction: column;
    }
    
    #donate-section {
        align-items: center;
    }

    #about-right {
        max-height: 500px;
        margin: 0;
    }
    
    #row-2 {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    #row-2 > div {
        width: 100%;
        margin-top: 20px;
    }

    .img-overlap {
        margin: 0;
        height: auto;
        max-height: 450px;
    }
 
    .beginning-content {
        width: 100%;
    }

}

@media screen and (max-width: 1300px) {
    .donate-icon {
        height: 100px;
        width: 100px;
    }
}

@media screen and (min-width: 992px) {
    .donate-option {
        min-height: 162px;
    }
}

@media screen and (min-width: 320px) and (max-width: 840px){

    .hero-h1 {
        font-size: 80px;
    }

    .bottomleft {
      position: absolute;
      top: 50%;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    .w3-jumbo {
        font-size: 30px !important;
        text-align: center;
    }

    h1,h2,h3,h4,h5,h6 {
        text-align: center;
    }

    #grid-2 {
        padding-top: 170px;
    }

    img[alt="forest"] {
        bottom: auto;
    }

    img[alt="volcano"] {
        bottom: auto;
    }

    footer input {
        text-align: center;
    }

    .social-icons {
        justify-content: center;
    }

    .main-signup-page .form-signup img {
        height: 200%;
    }

    .hidden-text {
        display: none;
    }

    #about-left h2, #about-left p {
        width: 100%;
    }

    .responsive-centered {
        text-align: center;
    }

    .vid-text {
        align-items: center;
    }

    .apa-reference {
        text-align: left;
    }

}

@media screen and (min-width: 320px) and (max-width: 840px) and (orientation: portrait){
  .btn-2-container {
    margin: auto;
  }

  .grid-text {
    text-align: center;
  }

  .aspect-claim{
    text-align: center;
  }


  .aspect{
    text-align: center;
  }

  .aspect-row {
    flex-direction: column;
    width: 80%;
    text-align: center;
  }

  .grid-item2 {
  min-height: 200px;
  } 

  #legacy-h1{
    font-size: 24px;
  }

  .card-container2{
    width: 80%;
  }

  .btn-4-container {
    margin: auto;
    position: relative;
  }

  .legacy-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 50px;
  }
  
  .ticket-box{
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
  }
  
  #sowing-imgs img {
    margin-top: 5px;
    margin-bottom: 20px; 
  }

  .main-donatepage .form-inline, .main-signup-page .form-signup{
    width: 75%;
    margin: 0 auto;
    text-align:left;
    padding-bottom: 75px;
  }

  .btn-1-container{
    display: block;
    width: auto;
    height: auto;
    float: none;
  }
}

/* note to self: maybe add these media queries to others to reduce complexity */
@media screen and (min-width: 320px) and (max-width: 700px) {
    .what-we-do-info {
        text-align: center;
    }

    #what-we-do .w3-content > div {
        margin-bottom: 3em;
    }
}

@media screen and (min-width: 701px) {
    .what-we-do-info h2, .what-we-do-info h5 {
        text-align: left;
    }
}

@media screen and (min-width: 768px) {

  .video-box{
    display: flex;
  }

  .aspect-claim{
    text-align: left;
  }

  .aspect-row{
    flex-direction: row;
    text-align: leff;
  }

  .aspect{
    text-align: left;
  }

  #deforest-title{
    width: 50%;
  }

  .grid-img2{
    height: 90%;
  }

  .btn-4-container {
    position: relative;
    margin: 0;
  }

  .card-container2{
    width: 90%;
  }

  .grid-item2 {
    min-height: 600px;
  } 

  .legacy-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 50px;
  }

  .ticket-box{
    flex-direction: row;
    width: 100%;
  }

  .ticket-image{
    height: 480px;
    min-width: 500px;
  }
  
 .text-container {
    text-align: left;
    max-width: 660px;
  }
}

@media screen and (min-width: 1024px) {
  .ticket-box{
    max-width: 1200px;
  }
}

/* For w3.css small screens */ 
@media screen and (max-width: 600px) {
    .donate-input-name, #l-name, label[for="l-name"], #email {
        width: 100%;
        margin-left: 0;
    }

    .matters-card {
        flex-direction: column;
    }

    .matters-card-img, .matters-card-info {
        flex: 1;
    }

    .matters-card-img {
        max-height: 400px;
    }

    .reference-list {
        width: 80%;
    }
}

/* For w3.css medium screens */ 
@media screen and (max-width: 992px) {
    #payment, label[for="payment"] {
        width: 100%;
        margin-left: 0;
    }
}